@font-face {
  font-family: 'atlanta_collegeregular';
  src: url('atlanta-college.regular-webfont.woff2') format('woff2'),
       url('atlanta-college.regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  background-color: #3a465f;
  /* min-height: 80vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: whitesmoke;
}
.header_page{
  font-family: 'atlanta_collegeregular';
  background-color: #3a465f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(48px + 2vmin);
  color: whitesmoke;
  margin-bottom: 1rem;
}
.team_names{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(40px + 2vmin);
  color: white;
}

.App-link {
  color: #000d28;;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.headers{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.player_page{
  /* background-color: #282c34; */
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  font-size: calc(6px + 2vmin);
  color: white;
}

.team_page{
  /* background-color: #282c34; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(4px + 2vmin);
  color: white;
}

#drop_down {
  background-color: #184427;
  font-size: calc(4px + 2vmin);
  color: whitesmoke;
}

#link_page {
  color: #0d6efd
}

.navbar_light {
  background-color: whitesmoke;
  border-radius: 25px;
  font-weight: bold;
  margin-bottom: 1rem;
  
}


.table_light {
  background-color: whitesmoke;
  border-radius: 25px;
  font-weight: bold;
  /* border-collapse: separate;
  border-spacing: 15px; */
  border: 20px solid whitesmoke;
  padding: 0;
}
.table_bord{
  border-radius: 25px;
  margin: 0;
}
@media (max-width: 650px) {
  .header_page {
    font-size: calc(26px + 2vmin);
    font-family: var(--bs-body-font-family);
  }
  .team_names {
    font-size: calc(22px + 2vmin);
  }
  .new_width{
    width: 206px;
    height: 32px;
    font-size: 10px;
    color: rgb(87, 87, 87);
  }
  .navbar_light{
    font-size: calc(8px + 2vmin);
  }
}

.new_width{
  width: 338px;
  height: 50px;
  font-size: 25px;
  color: rgb(87, 87, 87);
}

.over{
height: 600px;
}
